/*STATIC IVAN*/
#app {
    background-image: url("../img/ka-boom.png");

    /* 
    OR INLINE IN index.html
    style="background-image: url({% static '../static/img/ka-boom.png' %});" 
    */
}

.card:before {
    content            : '';
    position           : absolute;
    background         : url(../img/dinamit-tekst.png);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;
    top                : 30px;
    left               : 0;
    height             : 80%;
    width              : 100%;
    z-index            : 1;
    opacity            : 0.1;
}

.table {
    position: relative;
}

.table:before {
    content            : '';
    position           : absolute;
    background         : url(../img/detonator.png);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;
    top                : 30px;
    left               : 0;
    height             : 60%;
    width              : 100%;
    z-index            : 1;
    opacity            : 0.1;
}

.table th,
.table td {
    position: relative;
    z-index : 10;
}

.card form,
.card h2 {
    position: relative;
    z-index : 2;
}

/*NON STATIC*/
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #373a4d;
}

.logo {
    max-width: 150px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size  : 18px;
    font-weight: 500;
}

.bg-light {
    background-color: #ffd504 !important;
}

.card {
    background-color: rgb(255 213 4 / 97%);
}

table {
    background: rgb(255 213 4 / 97%);
}

.coupons-heading {
    background   : rgb(255 213 4 / 97%);
    margin-bottom: 0;
    padding      : 10px;
}

.btn-primary,
.btn-info {
    font-size     : 14px;
    text-transform: uppercase;
}

.btn-primary,
.btn-info {
    color           : #fff;
    background-color: #373a4d;
    border-color    : #373a4d;
}

.btn-primary:hover,
.btn-info:hover {
    color           : #373a4d;
    background-color: #d1e9f4;
    border-color    : #d1e9f4;
}

ul.navbar-nav {
    align-items: center;
}

.form-group.datum,
.form-group.popust {
    max-width: 180px;
}

td img {
    max-width: 100px;
}

/*FOOTER*/
footer {
    background: #ffca08;
}