body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #373a4d;
}

.logo {
    max-width: 150px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size  : 18px;
    font-weight: 500;
}

.bg-light {
    background-color: #f9bc77 !important;
}

.card {
    background-color: #f9bc77;
}

.btn-primary,
.btn-info {
    font-size     : 14px;
    text-transform: uppercase;
}

.btn-primary,
.btn-info {
    color           : #fff;
    background-color: #373a4d;
    border-color    : #373a4d;
}

.btn-primary:hover,
.btn-info:hover {
    color           : #373a4d;
    background-color: #d1e9f4;
    border-color    : #d1e9f4;
}

ul.navbar-nav {
    align-items: center;
}